<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cw.youlite">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- option 1-->
    <!--    <queries>-->
    <!--        <intent>-->
    <!--            <action android:name="com.google.android.youtube.api.service.START" />-->
    <!--        </intent>-->
    <!--    </queries>-->

    <!-- option 2-->
    <!--    https://stackoverflow.com/questions/66983878/android-11-api-30-open-youtube-link-->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data  android:scheme="https" android:host="youtube.com" />
        </intent>
    </queries>

    <application
        android:name="com.cw.youlite.util.uil.UilApplication"
        android:allowBackup="false"
		android:largeHeap="true"        
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        >

        <!-- android:theme="@style/Theme.AppCompat" -->
        <!-- android:theme="@style/CustomTheme" -->
        <activity
            android:name="com.cw.youlite.main.MainAct"
            android:theme="@style/MyTheme"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
	   		<intent-filter>
			   <action android:name="android.intent.action.SEND" />
			   <category android:name="android.intent.category.DEFAULT" />
			   <data android:mimeType="text/*" />
			</intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </activity>

        <activity android:name="com.cw.youlite.note_add.Note_addText"
                  android:theme="@style/MyTheme"
                  android:windowSoftInputMode="adjustPan"
                  android:parentActivityName="com.cw.youlite.main.MainAct">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.youlite.main.MainAct" />
        </activity>
        <activity android:name="com.cw.youlite.note_edit.Note_edit"
                 android:theme="@style/MyTheme"
                 android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.cw.youlite.note.Note"
                  android:theme="@style/MyTheme"
            	  android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
                  android:exported="false">
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </activity>
        <!-- note: add orientation above, when doing Rotate, activity will not go through the following states:
             onPause/onSaveInstanceState/onStop/onDestroy/
                                                onCreate/onStart/onRestoreInstanceState/onResume    -->

        <activity android:name="com.cw.youlite.operation.youtube.YouTubePlayerAct"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="com.cw.youlite.operation.import_export.Import_webJsonAct"
            android:theme="@style/MyTheme"/>
        <activity android:name="com.cw.youlite.operation.gdrive.ImportGDriveAct"
            android:theme="@style/MyTheme"/>
        <activity android:name="com.cw.youlite.operation.gdrive.ExportSelGDriveAct"
            android:theme="@style/MyTheme"/>
        <activity android:name="com.cw.youlite.operation.gdrive.ExportAllGDriveAct"
            android:theme="@style/MyTheme"/>

        <!--YouTube search -->
        <activity android:name="com.cw.youlite.operation.youtube.SearchYouTube"
                  android:windowSoftInputMode="adjustPan"
                  android:theme="@style/MyTheme"/>

        <!--receiver-->
        <receiver
            android:name="com.cw.youlite.util.DeleteFileAlarmReceiver"
            android:enabled="true" />

        <!-- AdMob: formal case    -->
        <!-- if(Define.ENABLE_ADMOB)-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="@string/ad_mob_app_id"/>-->

        <!-- AdMob: debug case        -->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="@string/ad_mob_app_id_test"/>-->

        <!-- fetch Json -->
        <service
            android:name="com.cw.youlite.data.FetchService_category"
            android:exported="false" />
        <provider
            android:name="com.cw.youlite.data.Provider"
            android:authorities="${packageName}"
            android:permission="${applicationId}.ACCESS_VIDEO_DATA"
            android:protectionLevel="signature"
            android:exported="false">
            <path-permission
                android:pathPrefix="/search"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>

        <!-- mail Json -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cw.youlite.Mail_fileViewJson"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- YouTube API -->
        <meta-data
            android:name = "key_DEVELOPER_KEY"
            android:value = "@string/key_DEVELOPER_KEY"/>
        <meta-data
            android:name = "key_SHA1"
            android:value = "@string/key_SHA1"/>

   </application>

</manifest>
